/* You can add global styles to this file, and also import other style files */
/* @import "~tailwind/dist/tailwind.css"; */
/* @import "~font-awesome/css/font-awesome.min.css" */

/*  */
.container{
  width: 60%;
}
body{
  font-family: 'Roboto Mono', monospace;
}
i.far {
  font-size: 260%;
}
ul{
  list-style: none;
}